.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;
    flex: 1;
    overflow: auto;
    height: calc(100vh - 64px);
}
